* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0;
    padding: 0; */
    font-family: 'Arial', sans-serif;
    /* background-color: #090a0a; */
    /* position: fixed; */
}

/* Navigation */
.header {
    width: 100%;
    height: 80px;
    padding: 40px 0;
    padding: 1.5rem 0;
    background-color: black;
    background-position: 0%;
    color: white;
    position: fixed;
    border: 2px solid black;
    top: 0;
    /* width: 100%; */
    z-index: 10;
    display: grid;
    grid-template-columns: 20% 80%;
    /* position: fixed; */
   
}

 



.header nav{
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.header ul{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 28px;
    color: white;
}

a:hover{
    color: #c88f0a;
}


.opacity{
    width: 100%;
    height: 790px;
    background: linear-gradient(90deg, rgba(59, 27, 82, 0.379), rgba(5, 45, 5, 0.44), rgba(196, 105, 35, 0.418));
    position: absolute;
    z-index: 1;
}




.con {
    width: 100%;
    height: 700px       ;
    margin-top: 80px;
    overflow: hidden;
    z-index: 2;
}

.con p {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 25px;
    color: #f5f4f1;
}


.con h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: #f6f5f0;
}

.con h5 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;
    color: white;
}


.header .logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-right: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    display: flex;
    /* justify-content: space-between; */
    background-image: url(https://files.oaiusercontent.com/file-38TLqRM7nKVg6HxLHB9m3q?se=2025-02-10T15%3A04%3A36Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D621e0797-d986-48e9-8933-09a879afb4f3.webp&sig=3yfBDHEeulKFKCg9yMOekgi4ZA2cPJkp4Wsj1vCRpaw%3D);
    background-position: 0%;
    background-size: cover;
    background-position-x: 0%;


}



.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
}


section {
    padding: 5px 0;
    text-align: center;
    background-color: white;
    font-size: 34px;
}

.card {
    width: 400px;
    height: 350px;
    background-image: url(./sadsa.jpg);
    background-position: 0%;
    background-size: cover;
    background-position-x: 0%;
    justify-content: center;
    border-radius: 25px;

}

.text-one {
    display: flex;
    width: 100px;
    height: 100px;
    /* border: 2px solid ; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.block1 {
    width: 800px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* border: 2px solid; */
    overflow: scroll;
    margin-right: 5%;
    margin-left: 40px;


}

.text {
    color: black;
    font-size: 20px;

}


.logo {
    /* margin-left: 20px; */
    color: #c88f0a;
}

/* img{
    display: flex;
   border-radius: 50%;
   padding: 0px;
   margin-left: 30px; */
   /* margin-bottom: 20px; */





.buttons{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


button {
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
    margin-top: 60px;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3));
}
/* .scroll{
    overflow: scroll;

} */

.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(185, 131, 16, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button:hover .transition {
    width: 14em;
    height: 14em;
}

button:active {
    transform: scale(0.97);
}


.iconsa {
    height: auto;
    width: auto;
    /* border: 2px solid red; */
    /* margin-top: 100px;
    margin-bottom: 100px; */
    text-align: center;
    /* background-color:#0b0b09 ; */
    background-size: cover;
    background-position: 0;
    background-position-x: 0;
}


.icons p {
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    background-color:#1a1a17 ;
    align-items: center;
    list-style: none;
    /* border: 2px solid ; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: rgb(33, 32, 32); */
    /* border-radius: 40px; */

}

.icons li {
    height: 350px;
    width: 400px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    margin: 50px;
    transition: 2s;
    box-shadow: 0px 0px 8px 6px;
    /* border-radius: 30px; */

}
.icons li:hover {
    transform: scale(0.96);
   background-color: rgba(169, 143, 15, 0.915);
}   

.icons li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(33, 32, 32) ;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    /* transition: 2s; */

}



.icons li a i {
    font-size: 60px;
    margin-top: 50px;
    color: #0bea43;
}

.icons li a i :hover{
    color: rgb(167, 14, 14);
    transition: 2s;

}

.icons h1{
    color: white;
}

.carde {
    font-family: Arial, sans-serif;
    background-color: rgb(26, 24, 24);
    background-size: cover;
    background-position: 0px;
    /* background-repeat: no-repeat; */
    background-position-x: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    /* margin-bottom: ; */
    /* height: 100vh; */
    
}

.carde h6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carda {
    background: white;
    width: 350px;
    margin: 30px;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.video-thumbnail {
    position: relative;
    width: 100%;
    height: 180px;
    background: #ccc;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    padding: 15px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.card-content {
    padding: 15px;
}

h4 {
    font-size: 18px;
    margin: 0 0 10px;
}

p {
    font-size: 14px;
    color: #555;
}

.curot img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 7px;
}

.watch-button {
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top:10px;
}


form input, form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

form button {
    width: auto;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: #0056b3;
}

/* From Uiverse.io by wilsondesouza */ 
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    background-color:  rgba(203, 149, 13, 0.89);
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }

  
/* From Uiverse.io by spj2401Dev */ 
.button-group {
    flex-grow: 1;
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: end; 
    margin: auto;

    
  }

  
  
 .NOM{
    width: auto;
    height: 400px;
    background-color:  rgba(203, 149, 13, 0.89);
 }

 .contacts{
    color: #000;
    font-size: 70px;
    margin-top: 100px;
    /* background-color:  rgba(203, 149, 13, 0.89); */
 }
  
  .contacts p {
    color: #000;
  }


  /* From Uiverse.io by andrew-demchenk0 */ 
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
  }
  
  .radio-wrapper {
    position: relative;
    height: 100px;
    width: 400px;
    margin: 3px;
  }
  
  .radio-wrapper .input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  
  .btn {
    --primary: #070501;
    --shadow-primary: #fded00;
    --color: white;
    --font-size: 9px;
    --shadow-primary-hue: 180;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
    --border: 5px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    color: var(--color);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    /* transition: background 0.2s, 0.3s; */
  }
  
  .input:checked + .btn {
    --primary: #d39a0a;
    --shadow-primary: #030e09;
  }
  
  .input:hover + .btn {
    --primary: #b78b0af4;
    --font-size: 11px;
  }
  
  .btn:after, .btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .btn:after {
    background: var(--primary);
  }
  
  .btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
  }
  
  .btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .input:hover + .btn .btn__glitch {
    display: block;
  }
  
  .input:checked + .btn .btn__glitch {
    display: block;
    animation: glitch 5s infinite;
  }
  
  .btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
  
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
  
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
  
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
  
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
  
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
  
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
  
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .number {
    background: var(--shadow-primary);
    color: #323232;
    font-size: 5.5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 15px;
    height: 6px;
    top: 0;
    left: 81%;
    line-height: 6.2px;
  }
  
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
  
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
  
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
  
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
  
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
  
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
  
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
  
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .number {
    background: var(--shadow-primary);
    color: #323232;
    font-size: 5.5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 15px;
    height: 6px;
    top: 0;
    left: 81%;
    line-height: 6.2px;
  }
  
 
 
  
  
  footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* margin-top: 20px;
   */
  }

.contsC P {
    color: white;
    font-size: 14px;
}

.ASD{
    color: rgba(203, 149, 13, 0.89);
}




#burger,
[for="burger"] {
    display: none;
}


@media (max-width:1400px) {




    .content {
        display: flex;
        flex-wrap: wrap;
        /* margin: 20px; */
    }
}





@media (max-width:800px) {
    .iconsa {
        display: flex;
        flex-wrap: wrap;
    }

}


@media (max-width:1050px) {


    [for="burger"] {
        display: block;
        right: 20px;
        top: 10px;
        text-align: center;
        font-size: 30px;
    }
    

    .block {
        display: flex;
        flex-wrap: wrap;
    }


    nav{
        transform: translateY(-0px);
        display: none;
        position: fixed;
        top: 0;
        width: 300px;
        height: 90vh;
        margin-top: 70px;
        border: 2px solid solid;
        transition: 300ms   ;
        background-color: rgb(240, 235, 235);
    }



    a{
        color: #0a0a0a;
    }

    [for="burger"]::before {
        content: "X";
    }

    #burger:checked+[for="burger"]::before {
        content: '☰'
    }

    .header ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: scroll;
        padding-bottom: 60px;
    }
    .header ul li{
        width: 200px;
        height: 60px;
        background-color: #773b3be4;
        box-shadow: 0px 0px 5px black;
        display: flex;
        align-items: center;
        justify-content: center;
       border-radius: 9px;
    }
    .header li a{
        text-decoration: none;
    }
    .header{
        display: flex;
        justify-content: center;

    }
    #logo{
        position: absolute;
        left: 5px;
    }
    /* #logo{
        width: 200px;
        height: 200px;
        background-color: #ffffff3c;
        box-shadow: 0px 0px 5px black;
        display: flex;
        align-items: center;
        justify-content: center;
       border-radius: 50%;
    } */




    #burger:checked+label+nav {
        transform: translateY(-1300px);
    }

}

@media (max-width: 768px) {
    .social-links {
        right: 10px;
        bottom: 10px;
    }
}
@media (max-width:390px) {
    .com {
        width: 200px;
        height: 100px;
    }

}




@media(max-width: 380px){
    .social-links{
        right: 15px;
        bottom: 15px;
    }
    #logo{
        font-size: 20px;
    }
}


@media (max-width:300px) {
    .com {
        width: 200px;
        height: 100px;
    }

}